 /* Styles CSS optionnels peuvent être ajoutés ici */
 :root{
    --vert-principal: rgb(75, 219, 106);
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}
header {
    padding: 10px 0;
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 3px 0px #706666;
}
nav {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 10px ;
}
nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 5%
}

#game-selector {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.game-tile {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.game-tile:hover{
    transition: transform 0.3s ease;
    box-shadow: -4px 4px 10px 0px #cec4c4;
    transform: translateY(-10px);
}

.game-tile:not(:hover) {
    transition: transform 0.3s ease; /* Ajoute une transition lorsque la souris est retirée */
}

.game-tile p{
    text-align: center;
}